h2 {
  color: green;
}

p {
  font-weight: bold;
}

.topic {
  margin-bottom: 3rem;
}

.container {
  width: auto;
  height: auto;
  border: 3px solid grey;
}

.type {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.rotate:hover {
  transform: rotate(15deg);
}

.scale:hover {
  transform: scale(0.5);
}

.skew:hover {
  transform: skew(-15deg);
}

.translate:hover {
  transform: translate(10px, 10px);
}

.translate3d:hover {
  transform: perspective(200px) translateZ(20px);
}

.rotate3dz:hover {
  transform: perspective(200px) rotate(15deg);
}

.rotate3dy:hover {
  transform: perspective(200px) rotateY(15deg);
}

.rotate3dx:hover {
  transform: perspective(200px) rotateX(50deg);
}

.rotate3do:hover {
  transform: perspective(200px) rotateX(50deg);
  transform-origin: 50% 0;
}

.group3d {
  perspective: 200px;
}

.group3d:hover .rotate3dg {
  transform: rotateY(50deg);
  transform-origin: 0 50%;
}

.linear {
  transition: transform 0.5s;
}

.linear:hover {
  transform: scale(1.5);
}

.ease {
  transition: transform 0.5s ease;
}

.ease:hover {
  transform: scale(1.5);
}

.ease-in {
  transition: transform 0.5s ease-in;
}

.ease-in:hover {
  transform: scale(1.5);
}

.ease-out {
  transition: transform 0.5s ease-out;
}

.ease-out:hover {
  transform: scale(1.5);
}

.ease-in-out {
  transition: transform 0.5s ease-in-out;
}

.ease-in-out:hover {
  transform: scale(1.5);
}

.cubic {
  transition: transform 0.5s cubic-bezier(0.17, 0.67, 0.88, -0.06);
}

.cubic:hover {
  transform: scale(1.5);
}

.delay {
  transition: transform 0.5s 1s;
}

.delay:hover {
  transform: scale(1.5);
}

.multi {
  transition: transform 0.5s, background 0.5s;
}

.multi:hover {
  transform: scale(1.5);
  background: lightpink;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: rotate(45deg);
    background: pink;
  }

  100% {
    transform: rotate(0);
  }
}

.anim:hover {
  animation: pop 4s ease-in 0s infinite alternate;
}

.animstl:hover {
  animation: rubberBand;
}
