.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 2rem;
}

.wrapper :first-child {
  background-color: beige;
}

.wrapper :last-child {
  background-color: lightgray;
}

@media screen and (min-width: 600px) {
  .wrapper {
    flex-direction: row;
  }
}

@media screen and (max-width: 900px) {
  .wrapper :first-child {
    background-color: rgb(163, 135, 87);
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .container {
    border: 5px solid rgb(76, 76, 76);
  }
}
