body {
  margin: 10px;
}

.nav {
  list-style: none;
}

.external-bold {
  font-weight: bold;
}

#identifier {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}
/* Type selector */
h6 {
  font-weight: bold;
  font-size: 16px;
  line-height: 0px;
}

/* Attribute selector */
/* styles for <a> element that has 'target' attribute */
a[target] {
  color: red;
}

/* styles for <a> element that has 'target' attribute with the value '_blank' */
a[target="_blank"] {
  font-weight: bold;
}

/* styles for <a> element that has 'href' attribute with the value 'https://instagram.com/' (this will checking the exact match of the value)*/
a[href="https://www.instagram.com/"]
{
  color: plum;
}

/* styles for <a> element that has 'href' attribute with the value 'instagram' (check if the value has the word 'instagram' in it)*/
a[href*="instagram"] {
  font-weight: bold;
}

/* styles for <a> element that has 'href' attribute with the value start with 'https' and end with '.com'*/
a[href^="https"][href$=".com/"] {
  text-decoration: none;
}

/* Relational selector */
/*The '#products p{}' is called the descendant selector (represented by a white space character)*/
/*this selector selects all the <p> inside <div> with id=products*/
#products p {
  color: orange;
}

/* to apply style only for the first <p> -> direct child of <div id=products> */
/* > -> used to select the first <p> that comes immediately after <div id=products>*/
#products > p {
  color: palevioletred;
}

/* to apply style only for the <p> next to <div id=products> */
/* + -> used to select <p> that comes immediately after #products */
#products + p {
  color: rgb(79, 171, 180);
}

/* to apply style for all the <p> that come after <div id=products> -> general siblings of <div id=products> */
/* ~ -> used to select all <p> that comes after #products */
#products ~ p {
  color: #555;
}

/* pseudo-classes selector */
article :first-child {
  font-style: italic;
  font-size: 25px;
}

div :first-of-type {
  font-weight: bold;
  font-style: italic;
}

div p:first-of-type {
  font-weight: bold;
  color: deeppink;
}

.first p:last-child {
  color: rgb(50, 239, 50);
}

#even li:nth-child(2n) {
  color: deeppink;
}

#odd li:nth-child(2n-1) {
  color: deeppink;
}

a:visited,
a:link {
  color: darkolivegreen;
}

a:hover,
a:focus {
  color: dodgerblue;
}

/* pseudo-elements selectors */
#p-element::first-letter {
  font-size: 140%;
  font-weight: bold;
}

#p-element::first-line {
  font-weight: bold;
}

#p-element::after {
  content: "...";
  display: block;
}

::selection {
  background-color: pink;
}

h4 {
  color: blue;
}

.highlight {
  color: pink;
}

#highl {
  color: aquamarine;
}

h4#highl {
  color: yellow;
}

/* Colors */
.boxrgb {
  width: 100px;
  height: 100px;
  background-color: rgb(16, 79, 180);
}

.boxrgba {
  width: 100px;
  height: 100px;
  background-color: rgba(16, 79, 180, 0.5);
}

.boxhex {
  width: 100px;
  height: 100px;
  background-color: #104fb4;
}

.boxhsl {
  width: 100px;
  height: 100px;
  background-color: hsl(217, 84%, 38%);
}

.boxhsla {
  width: 100px;
  height: 100px;
  background-color: hsla(217, 84%, 38%, 0.5);
}

.boxgrad {
  width: 100px;
  height: 100px;
  background: rgb(206, 168, 168);
  /*if browser doesnt support gradient then show this color*/
  background: linear-gradient(
    90deg,
    rgba(206, 168, 168, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
