* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #420fe7;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: #f3f2f4;
}

.wrapper {
  width: 1060px;
  margin: 60px auto;
}

header nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  height: 40px;
  display: flex;
  align-items: center;
}

.logo svg {
  width: 40px;
}

.logo a {
  height: 100%;
  display: flex;
}

.logo:hover::after {
  content: "Back home";
  margin-left: 70px;
  position: absolute;
  font-weight: 600;
}

.social ul {
  width: 160px;
  height: 40px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social a {
  display: flex;
  align-items: center;
}

.back {
  width: 120px;
  height: 40px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro h1 {
  font-size: 16px;
  font-weight: 600;
  color: #eea1be;
  margin-bottom: 60px;
}

.intro h2 span {
  font-family: sans-serif;
  font-size: 10vw;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #cecae3;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.intro h2 {
  font-size: 6vw;
}

.about {
  font-weight: 200;
  line-height: 24px;
  color: #f3f2f49a;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.about span {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #f3f2f4;
  display: block;
}

.about p {
  width: 49%;
  padding-top: 4%;
}
.about img {
  width: 45%;
}

.service {
  color: #18033c;
  background-color: #eea1be;
  padding: 60px 80px;
  margin-top: 60px;
}

.service h2 {
  font-size: 8vw;
  line-height: 12vw;
}

.service p {
  margin: 40px 0;
  font-weight: 200;
}

.service ul {
  list-style-position: inside;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service h3 {
  display: inline;
}
