:root {
  --color-primary: #A19D70;
  --color-secondary: #D1CFB2;
  --color-accent: #C9D663;
  --color-headings: #282828;
  --color-body: #8F8E8E;
}

/* Typography */

html {
  /* 62.5% * 16px(default) = 10px */
  font-size: 62.5%;
}

body {
  display: inline-block;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.arrow {
  width: 2.5rem;
  margin-left: -1px;
  transition: margin 0.3s;
}

.link-arrow:hover .arrow {
  margin-left: 3px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }

  .arrow {
    width: 2rem;
  }
}